body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

.choice-card {
    width: 300px;
    height: 200px;
    background-color: #FB090B;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.choice-card:hover {
    transform: scale(1.05);
}

.choice-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit; /* Якщо потрібно зберегти колір посилань */
}

.red-text {
    color: red;
}