form {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    width: 50%;
    height: 70%;
    font-family: Arial, sans-serif;
}

label {
    align-items: center;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

#inputButton {
    background-color: #FB090B;
    color: black;
    height: 30px;
    width: fit-content;
    border: #FB090B;
    display: inline-block;
    font-family: Arial, sans-serif;
}

#clearButton {
    background-color: #e7e4e4;
    color: black;
    height: 30px;
    border: #e7e4e4;
    width: fit-content;
}

.bold {
    font-weight: bold;
}

select {
    width: 50%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #FB090B;
    font-family: Arial, sans-serif;
}

th {
    text-align: left;
    border-bottom: 1px solid #c5c5c5;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

td {
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

.immuneText {
    background-color: #fcfcbe;
}

.idText {
    background-color: #e8e8e8;
}

table {
    border-spacing: 15px;
    margin: 0 auto;
}

#borderList {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    width: 50%;
    height: 70%;
    margin: 0 auto; /* центрування по горизонталі */
}

#inputButtonList {
    background-color: #FB090B;
    color: black;
    height: 30px;
    width: fit-content;
    border: #4bb5fc;
    font-family: Arial, sans-serif;
}

h1, h2{
    color: #FB090B;
    font-family: Arial, sans-serif;
    text-align: center; /* Центрування заголовка по горизонталі */
    font-size: 17px;
}

p {
    color: #FB090B;
    font-family: Arial, sans-serif;
}

span {
    color: #FB090B;
    font-family: Arial, sans-serif;
}

.separator {
    margin: 0 5px; /* відступи по боках від роздільника */
    color: #666;   /* Колір тексту роздільника */
}