<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new member of our club</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<h1>Create new member of our club</h1>
<form th:action="@{/users/create}" method="post">
    <label class="bold" for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <br>

    <label class="bold" for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br>

    <label class="bold" for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>

    <label class="bold" for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>

    <label class="bold" for="role">Role: </label>
    <select id="role" name="role" th:field="${userDto.role}" required>
    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>


    <input id="inputButton" type="submit" value="Register">
    <button id="clearButton" type="button" onclick="clearTextFields()">Clear</button>
</form>

</body>
</html>