<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<!--<div th:insert="blocks/header :: header"></div>-->
<h1>Login Page</h1>
<form th:action="@{/custom-login}" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <br/>
        <input type="submit" class="create-button" value="Log In"/>
    </div>
</form>
</body>
</html>
