<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <title th:text="'Details of ' + ${player.playerFirstName} + ' ' + ${player.playerLastName}">Details of Player</title>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<br>
<h1 th:text="'Details of ' + ${player.playerFirstName} + ' ' + ${player.playerLastName}">Member Info</h1>
<table>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>
    <td><b>Team ID</b></td>
    <td th:text="${player.id}"></td>
  </tr>
  <tr>
    <td><b>Full name</b></td>
    <td th:text="${player.playerFirstName + ' ' + player.playerLastName}"></td>
  </tr>
  <tr>
    <td><b>Position</b></td>
    <td th:text="${player.position}"></td>
  </tr>
  <tr>
    <td><b>Date of birth</b></td>
    <td th:text="${player.dateOfBirth}"></td>
  </tr>
  <tr>
    <td><b>Country</b></td>
    <td th:text="${player.country}"></td>
  </tr>
  <tr>
    <td><b>Market Value</b></td>
    <!--<td th:text="${player.marketValue + ' €'}"></td>-->
    <td th:text="${#strings.replace(#numbers.formatInteger(player.marketValue, 0, 'DEFAULT'), ',', ' ') + ' €'}"></td>
  </tr>
  <tr>
    <td><b>Notes</b></td>
    <td th:text="${player.importantNotes}"></td>
  </tr>

<!--
    &lt;!&ndash;<a href="/players/{id}/update" th:href="@{'/players/' + ${player.id} + '/update'}">Update</a>&ndash;&gt;
    <a th:href="@{'/players/' + ${player.id} + '/update'}" th:text="'Update ' + ${player.playerFirstName} + ' ' + ${player.playerLastName}">Update</a>
    <span class="separator">|</span>
    &lt;!&ndash;<a href="/players/{id}/delete" th:href="@{'/players/' + ${player.id} + '/delete'}">Delete</a>&ndash;&gt;
    <a th:href="@{'/players/' + ${player.id} + '/delete'}" th:text="'Delete ' + ${player.playerFirstName} + ' ' + ${player.playerLastName}">Delete</a>
-->
  <td>
    <button class="btn btn-primary" th:onclick="|window.location.href='/players/${player.id}/update'|">
      <span th:text="'Update ' + ${player.playerFirstName} + ' ' + ${player.playerLastName}"></span>
    </button>
  </td>
  <td>
     <button class="btn btn-danger" th:onclick="|window.location.href='/players/${player.id}/delete'|">
      <span th:text="'Delete ' + ${player.playerFirstName} + ' ' + ${player.playerLastName}"></span>
    </button>
  </td>

</table>
</body>
</html>
