<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Players of our team</title>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<br>
<div th:insert="blocks/player-list :: goalkeeperList"></div>
<div th:insert="blocks/player-list :: defenderList"></div>
<!--<div th:insert="blocks/player-list :: midfielderList"></div>
<div th:insert="blocks/player-list :: forwardList"></div>&ndash;&gt;-->
</body>
</html>
