<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Update info of ' + ${user.firstName} + ' ' + ${user.lastName}">Update existing member of our club</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<br>
<h1 th:text="'Update info of ' + ${user.firstName} + ' ' + ${user.lastName}">Update Existing User</h1>
<form th:action="@{/users/update}" method="post" enctype="multipart/form-data">
    <label class="bold" for="id">ID:</label>
    <input class="idText" type="text" id="id" name="id" th:value="${user.id}" readonly>
    <br>

    <label class="bold" for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" required>
    <br>

    <label class="bold" for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" required>
    <br>

    <label class="bold" for="email">Email:</label>
    <input class="immuneText" type="email" id="email" name="email"  th:value="${user.email}" readonly>
    <br>

    <label class="bold" for="Oldpassword">Password:</label>
    <input  class="immuneText" type="password" id="Oldpassword" name="Oldpassword"  th:value="${user.password}" readonly>
    <br>

    <label class="bold" for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>

    <label class="bold" for="role">Role:</label>
    <select id="role" name="role" required>
        <option th:each="role : ${T(com.serhii.myproject.model.Role).values()}" th:value="${role.name()}" th:text="${role.getValue()}"></option>
    </select>
    <br>

    <label class="bold" for="file">Photo:</label>
    <input type="file" id="file" name="file">
    <br>

    <input id="inputButton" type="submit" value="Update User">
    <button id="clearButton" type="button" onclick="clearTextFields()">Clear</button>
</form>
</body>
</html>