<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <title>Details of Member</title>
  <title th:text="'Details of ' + ${user.firstName} + ' ' + ${user.lastName}">Details of Member</title>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<br>
<h1 th:text="'Details of ' + ${user.firstName} + ' ' + ${user.lastName}">Member Info</h1>
<table>
  <tr>
    <th style="text-align: center;"><b>Field</b></th>
    <th style="text-align: center;"><b>Value</b></th>
  </tr>
  <tr>
    <td><b>Club ID</b></td>
    <td th:text="${user.id}"></td>
  </tr>
  <tr>
    <td><b>Full name</b></td>
    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
  </tr>
  <tr>
    <td><b>Email</b></td>
    <td th:text="${user.email}"></td>
  </tr>
  <tr>
    <td><b>Role</b></td>
    <td th:text="${user.role}"></td>
  </tr>

  <td>
    <button class="btn btn-primary" th:onclick="|window.location.href='/users/${user.id}/update'|">
      <span th:text="'Update ' + ${user.firstName} + ' ' + ${user.lastName}"></span>
    </button>
  </td>
  <td>
    <button class="btn btn-danger" th:onclick="|window.location.href='/users/${user.id}/delete'|">
      <span th:text="'Delete ' + ${user.firstName} + ' ' + ${user.lastName}"></span>
    </button>
  </td>
  <img th:src="@{${user.getPhoto()}}" alt="User photo">
</table>
<!--<img th:src="@{'/files/' + ${user.photo}}" alt="User photo">-->



</body>
</html>
