<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <title>Details of Member</title>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<br>
<h1>Member Info</h1>
<table>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>id</td>
    <td th:text="${user.id}"></td>
  </tr>
  <tr>
    <td>Full name</td>
    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
  </tr>
  <tr>
    <td>Email</td>
    <td th:text="${user.email}"></td>
  </tr>
  <tr>
    <td>Role</td>
    <td th:text="${user.role}"></td>
  </tr>
</table>
</body>
</html>
