<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players of our team</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/> <!-- Припустимо, це ваш внутрішній стиль -->
</head>
<body>
<div th:fragment="goalkeeperList">
    <h2>GOALKEEPERS</h2>
    <table>
        <thead>
        <tr>
            <th style="text-align: center;">No.</th>
            <th style="text-align: center;">Full Name</th>
            <th style="text-align: center;">Market value</th>
            <th style="text-align: center;">Country</th>
            <th style="text-align: center;">Date of birth</th>
            <th style="text-align: center;">Notes</th>
            <th style="text-align: center;" sec:authorize="hasAuthority('SPORT_DIRECTOR')">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player, iterStat : ${goalkeepers}">
<!--
            <td th:text="${iterStat.count}"></td>
-->
            <td th:text="${player.jerseyNumber}"></td>

            <td>
                <a href="/players/{id}/read" th:href="@{'/players/' + ${player.id} + '/read'}">
                    <span th:text="${player.playerFirstName + ' ' + player.playerLastName}"></span>
                </a>
            </td>
            <td th:text="${#strings.replace(#numbers.formatInteger(player.marketValue, 0, 'DEFAULT'), ',', ' ') + ' €'}"></td>
            <td th:text="${player.country}"></td>
            <td th:text="${#temporals.format(player.dateOfBirth, 'yyyy-MM-dd')}"></td>
            <td th:text="${player.importantNotes}"></td>
            <td sec:authorize="hasAuthority('SPORT_DIRECTOR')">
                <a th:href="@{'/players/' + ${player.id} + '/update'}">Update</a> |
                <a th:href="@{'/players/' + ${player.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:fragment="defenderList">
    <h2>DEFENDERS</h2>
    <table>
        <tbody>
        <tr th:each="player, iterStat : ${defenders}">
            <!--
            <td th:text="${iterStat.count}"></td>
-->
            <td th:text="${player.jerseyNumber}"></td>
            <td>
                <a href="/players/{id}/read" th:href="@{'/players/' + ${player.id} + '/read'}">
                    <span th:text="${player.playerFirstName + ' ' + player.playerLastName}"></span>
                </a>
            </td>
            <td th:text="${#strings.replace(#numbers.formatInteger(player.marketValue, 0, 'DEFAULT'), ',', ' ') + ' €'}"></td>
            <td th:text="${player.country}"></td>
            <td th:text="${#temporals.format(player.dateOfBirth, 'yyyy-MM-dd')}"></td>
            <td th:text="${player.importantNotes}"></td>
            <td sec:authorize="hasAuthority('SPORT_DIRECTOR')">
                <a th:href="@{'/players/' + ${player.id} + '/update'}">Update</a> |
                <a th:href="@{'/players/' + ${player.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="midfielderList">
    <h2>MIDFIELDERS</h2>
    <table>
        <tbody>
        <tr th:each="player, iterStat : ${midfielders}">
            <!--
            <td th:text="${iterStat.count}"></td>
-->
            <td th:text="${player.jerseyNumber}"></td>
            <td>
                <a href="/players/{id}/read" th:href="@{'/players/' + ${player.id} + '/read'}">
                    <span th:text="${player.playerFirstName + ' ' + player.playerLastName}"></span>
                </a>
            </td>
            <td th:text="${#strings.replace(#numbers.formatInteger(player.marketValue, 0, 'DEFAULT'), ',', ' ') + ' €'}"></td>
            <td th:text="${player.country}"></td>
            <td th:text="${#temporals.format(player.dateOfBirth, 'yyyy-MM-dd')}"></td>
            <td th:text="${player.importantNotes}"></td>

            <td sec:authorize="hasAuthority('SPORT_DIRECTOR')">
                <a th:href="@{'/players/' + ${player.id} + '/update'}">Update</a> |
                <a th:href="@{'/players/' + ${player.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="forwardList">
    <h2>FORWARDS</h2>
    <table>
        <tbody>
        <tr th:each="player, iterStat : ${forwards}">
            <!--
            <td th:text="${iterStat.count}"></td>
-->
            <td th:text="${player.jerseyNumber}"></td>
            <td>
                <a href="/players/{id}/read" th:href="@{'/players/' + ${player.id} + '/read'}">
                    <span th:text="${player.playerFirstName + ' ' + player.playerLastName}"></span>
                </a>
            </td>
            <td th:text="${#strings.replace(#numbers.formatInteger(player.marketValue, 0, 'DEFAULT'), ',', ' ') + ' €'}"></td>
            <td th:text="${player.country}"></td>
            <td th:text="${#temporals.format(player.dateOfBirth, 'yyyy-MM-dd')}"></td>
            <td th:text="${player.importantNotes}"></td>
            <td sec:authorize="hasAuthority('SPORT_DIRECTOR')">
                <a th:href="@{'/players/' + ${player.id} + '/update'}">Update</a> |
                <a th:href="@{'/players/' + ${player.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAuthority('SPORT_DIRECTOR')" id="inputButton" class="btn btn-primary" onclick="window.location.href='/players/create'">Add Player</button>
</div>
</body>
</html>
