<div th:fragment="userList">
    <h1>Board of members of our club</h1>
    <br>
    <div id="borderList">

        <br>
        <table>
            <thead>
            <tr id="tableFields">
                <th class="bold" style="text-align: center;">No.</th>
                <th class="bold" style="text-align: center;">Full Name</th>
                <th class="bold" style="text-align: center;">E-mail</th>
                <th class="bold" style="text-align: center;">Operations</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="user, iterStat : ${users}">
                <td class="bold" th:text="${iterStat.count}"></td>
                <td>
                    <a href="/users/{id}/read" th:href="@{'/users/' + ${user.id} + '/read'}">
                        <span th:text="${user.firstName + ' ' + user.lastName}"></span>
                    </a>
                </td>
                <td th:text="${user.email}"></td>
                <td>
                    <a href="/users/{id}/update" th:href="@{'/users/' + ${user.id} + '/update'}">Update</a>
                    <a href="/users/{id}/delete" th:href="@{'/users/' + ${user.id} + '/delete'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button id="inputButtonList" class="btn btn-primary" onclick="window.location.href='/users/create'">Create new
            User
        </button>
    </div>
</div>