<div th:fragment="userList">
    <h1>List of Users</h1>
    <br>
    <div id="borderList">
        <button id="inputButtonList" class="btn btn-primary" onclick="window.location.href='/users/create'">Create new
            User
        </button>
        <br>
        <table>
            <thead>
            <tr id="tableFields">
                <th class="bold">No.</th>
                <th class="bold">id</th>
                <th class="bold">Full Name</th>
                <th class="bold">E-mail</th>
                <th class="bold">Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iterStat : ${users}">
                <td class="bold" th:text="${iterStat.count}"></td>
                <td th:text="${user.id}"></td>
                <td>
                    <a href="/users/{id}/read" th:href="@{'/users/' + ${user.id} + '/read'}">
                        <span th:text="${user.firstName + ' ' + user.lastName}"></span>
                    </a>
                </td>
                <td th:text="${user.email}"></td>
                <td>
                    <a href="/users/{id}/update" th:href="@{'/users/' + ${user.id} + '/update'}">Update</a>
                    <a href="/users/{id}/delete" th:href="@{'/users/' + ${user.id} + '/delete'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>