<div th:fragment="userList" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>Board of members of our club</h1>
    <br>
    <div id="borderList">

        <br>
        <table>
            <thead>
            <tr id="tableFields">
                <th class="bold" style="text-align: center;">No.</th>
                <th class="bold" style="text-align: center;">Full Name</th>
                <th class="bold" style="text-align: center;">E-mail</th>
                <th class="bold" style="text-align: center;" sec:authorize="hasAuthority('PRESIDENT')">Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iterStat : ${users}">
                <td class="bold" th:text="${iterStat.count}"></td>
                <td>
                    <a th:if="${#authorization.expression('hasAuthority(''PRESIDENT'')')}" th:href="@{'/users/' + ${user.id} + '/read'}">
                        <span th:text="${user.firstName + ' ' + user.lastName}"></span>
                    </a>
                    <span th:unless="${#authorization.expression('hasAuthority(''PRESIDENT'')')}" th:text="${user.firstName + ' ' + user.lastName}"></span>
                </td>

                <td th:text="${user.email}"></td>
                <td sec:authorize="hasAuthority('PRESIDENT')">
                    <a href="/users/{id}/update" th:href="@{'/users/' + ${user.id} + '/update'}">Update</a>
                    <a href="/users/{id}/delete" th:href="@{'/users/' + ${user.id} + '/delete'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button sec:authorize="hasAuthority('PRESIDENT')" class="create-button" onclick="window.location.href='/users/create'">Add club member</button>
</div>
